.homepage {
  position: relative;
  background-image: url("./images/homepage.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 150px;
  padding: 50px 50px 50px 50px; 
}
.homepage::before {
  content: "";
  position: absolute;
  inset: 0; /* stretch to cover */
  background-color: rgba(255, 255, 255, 0.2); /* white overlay, 50% see-through */
  z-index: 0;
}

.homepage > * {
  position: relative;
  z-index: 1; 
}

.nav-box {
  background-color: #ebeddf; 
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width:250px;
  height: 300px;
  font-size: larger;
  margin-left: 50px;
}
.homepage-nav {
  display: flex;
  flex-direction: column;
  gap: 30px; /* space between links */
  align-items: center;
}


.homepage-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.homepage-nav a:hover {
  color: #555;
}


.homepage-logo {
  width:700px;
  height: auto;
}

.about-page {
  background-color: #ebeddf;
  padding: 20px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.header-box {
  text-align: left;
  margin-bottom: 30px;
}

.header-box h1 {
  font-size: 2rem;
  margin: 0;
}

.main-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; 
}

.about-image {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.about-text {
  max-width: 600px;
  font-size: 1rem;
  line-height: 1.6;
}
